.detailBody {
	background-image: url('../../assets/darkMap.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100vh;
	margin: 0;
	overflow-x: hidden;
}

.detailBody .navBar {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: space-around;
	width: 1750px;
}

.detailContainer {
	border: 2px double #f96d00;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	opacity: 0.65;
	width: 774px;
 	height: 570px;
 	margin-top: 6%;
 	margin-left: 27%;
 	background: #f5f5cf;
 	padding: 0.5rem 0.5rem;
 	transition: box-shadow .2s ease, transform .1.5s ease;
}


.detailContainer p {
	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	transition: transform .2s ease, opacity .2s ease;
 	line-height: 1.3rem;
 	font-family: 'Arvo', serif;
}

/*Image*/
.detailContainer img {
 	--size: 260px;
 	background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
	width: var(--size);
	height: var(--size);
 	border-radius: 50%;
 	border: 1px solid black;
 	transition: transform 0.5s ease;
 	margin-bottom: 5rem;
 	margin-left: 2rem;
 	opacity: none;
}


/*Card footer*/
.detailContainer .buttonContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-end;
	justify-content: space-around;
	align-items: center;
	width: 350px;
	height: 30px;
	margin-right: 60px;
	margin-top: 20px;
}

.detailContainer .buttonContainer .backButton {
 	display: flex;
 	flex-wrap: wrap;
 	flex-direction: column;
 	align-content: center;
 	justify-content: space-around;
 	font-family: 'Prompt', sans-serif;
 	font-weight: 700; 
 	opacity: none;
  	height: 35px;
 	width: 45px;
 	fill: #515F65;
 	cursor: pointer;
 	border-radius: 5px;
 	background-color: #f96d00;
 	margin-left: 60px;
}

.detailContainer .buttonContainer .addAct {
 	display: flex;
 	flex-wrap: wrap;
 	flex-direction: column;
 	align-content: center;
 	justify-content: space-between;
 	font-family: 'Prompt', sans-serif;
 	font-weight: 700; 
 	opacity: none;
  	height: 39px;
 	width: 98px;
 	fill: #515F65;
 	cursor: pointer;
 	border-radius: 5px;
 	background-color: #f96d00;
 	margin-left: 140px;
}

/*Text*/
.detailContainer h1 {
 	color: #333;
 	font-family: 'Arvo', serif;
 	font-size: 2em;
 	font-weight: 600;
 	line-height: 5rem;
 	margin-left: 2rem;
 	opacity: none;
}

/*Hover*/
.detailContainer:hover {
 	box-shadow: 0 8px 50px #23232333;
 	transform: scale(1);
}

.detailContainer:hover button {
 	transform: translateY(5%);
 	opacity: 1;
}

.detailContainer button:hover {
 	fill: #232323;
 	transform: scale(1);
}
