.paginated {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-around;
}

ul, .listPag {
	display: flex;
	list-style: none;
	align-content: space-between;
	align-items: center;
}

.paginated button {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 25px;
	font-family: 'Prompt', sans-serif;
	background-color: lightgrey;
	font-weight: 700;
	font-size: 15px;
	border-radius: 3px;
}